
#menu{
    background-color: #353a40;
}

h5{
    font-size: x-large;
}

h6{
    font-size: medium;
    font-weight: bold;
}

p {
    font-size: small;  
}

.parrafo{
    text-align: center;
    margin-bottom: 0rem;
    
}

h3 {
    margin: 0px,0px,8px;

}
footer {
    background: linear-gradient(90deg, rgba(28,56,70,255) 0%, rgba(29,67,88,255) 35%, rgba(30,81,112,255) 80%);
    color: white;
    min-height: 10vh;
}

form{
    margin-bottom: 2rem;
}

#texto-formulario{
    font-size: small;
}

.orador{
    padding: auto;
    text-align: center;
}

div {
    display: block;
}

#conferencia{
    border-radius: 0%;
}

#ba1 {
    background: rgba(0, 0, 0, 0.7);
    filter: brightness(40%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    object-fit: cover;
    height: 40vw;
}

#conf{
    text-align: justify;
    margin-top: 6rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    overflow: auto; /*scroll de pantalla para que el texto no desborde*/
}

#texto-bsas{
    text-align: justify;
    text-align: right;
    font-size: medium;
    padding-left: 58%;
}

#honolulu{
    object-fit: cover;
    width:100%;
    height:100%;
}

#fecha-lugar{
    background-color: rgb(61, 61, 61);

}

#texto-fecha-lugar{
    text-align: justify;
    text-align: left;
}

#subrayado {
    border-bottom:1px dotted black;
}

#parrafo-descuento{
    font-size: medium;
}

#boton-formulario{
    margin-top: 1rem;
}


#pie-pagina a{
    font-size: medium;
    margin-top: 25px;
    margin-bottom: 25px;
}

#tarjetas_descuento {
    border-radius: 0px;
    margin-top: 30px;
}




.se-orador{
    display: flex;
}

.parrafo{
   text-align: center;
   padding-right: 300px;
   padding-left: 300px;
}

.formulario{
    background-color: aquamarine;
    margin-top: 20px;
    margin-bottom: 50px;

    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    
}




